@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

:root {
  --colour-black: black;
  --colour-white: white;
  --colour-yellow: #FFE30E;
  --colour-dark-yellow: #FACF22;
  --colour-purple: #D7A29B;
  
  /* dynamic colours */
  --colour-body: var(--colour-yellow);
  --colour-text: black;
  
  --heading: 'Yusei Magic', sans-serif;
  --subheading: "inter", sans-serif;
  --content: sans-serif;
  
  --bold: 800;
  --semi-bold: 500;
  --regular: 400;

  --linespace: 1;
  --padding-xl: 3em;
  --padding-l: 2.5em;
  --padding-r: 2em;
  --padding-m: 1.5em;
  --padding-s: 1em;
  --padding-xs: 0.6em;
  --padding-xxs: 0.2em;
  
  --gap-l: 1.5em;
  --gap-r: 1em;
  --gap-m: 0.75em;
  --gap-s: 0.5em;
  --gap-xs: 0.2em;
  
  --shadow: 0 0 10px 1px rgba(0,0,0,0.3);
  --line: solid 1px var(--colour-text);
  
  --round: 100%;
  
  /* z-index */
  --z-cursor: 1000;
  --z-topbar: 100;
  --z-sidebar: 101;
  --z-propop: 102;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html {
  font: var(--regular) 1em/var(--linespace) var(--content);
  color: var(--colour-text);
}

.body {
  font: var(--regular) 1em/var(--linespace) var(--content);
}

.body span {
  font: var(--bold) 1em/var(--linespace) var(--content);
}

.heading-large {
  font: var(--regular) 2em/var(--linespace) var(--heading);
  color: var(--colour-text);
}

.heading-medium {
  font: var(--regular) 1.625em/var(--linespace) var(--heading);
}
.heading-small {
  font: var(--regular) 1.125em/var(--linespace) var(--heading);
  color: var(--colour-text);
}
.subheading-large {
  font: var(--regular) 1em/var(--linespace) var(--subheading);
  color: var(--colour-text);
}
.subheading-large span {
  font: var(--regular) 0.9em/var(--linespace) var(--subheading);
}

.subheading-medium {
  font: 700 0.8em/var(--linespace) var(--subheading);
}

body {
  background-color: var(--colour-body);
  /* background-image: url('img/logo.png');
  background-repeat: repeat;
  background-size: 17em 17em;
  background-blend-mode: soft-light; */
}

main {
  max-width: 76rem;
  margin: 0 auto;
  border-left: var(--line);
  border-right: var(--line);
}

nav[aria-label="primary"] {
  padding: var(--padding-m);
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
}

nav[aria-label="primary"] {
  position: absolute;
  z-index: 3;
  width: 100%;
  grid-template-columns: auto min-content auto;
  gap: clamp(var(--gap-s), 6%, 10em);
  top: 2rem;
  font-size: 0.75em;
}

nav[aria-label="primary"] > :first-child {
  justify-self: flex-end;
  margin-bottom: var(--padding-m);
}
nav[aria-label="primary"] > :last-child {
  justify-self: flex-start;
  margin-bottom: var(--padding-m);
}

/* ________________BUTTONS__________________ */

button {
  appearance: none;
  border: unset;
  cursor: pointer;
}
button p {
  display: inline-block;
}

button.primary {
  background-color: var(--colour-white);
  padding: var(--padding-xs) var(--padding-s);
  border: var(--line);
  border-radius: 2em;
}

button.hero {
  font-size: 1.1em;
}

button.icon-text {
  display: flex;
  gap: var(--gap-s);
  background-color: transparent;
  padding: 0;
  align-items: center;
}
button.icon-text p {
  text-decoration: underline;
  font-size: 1.3em;
}
button.icon-text img {
  height: 2em;
}

button.always-white {
  --colour-text: var(--colour-white);
}

.toggle-buttons input[type="radio"] {
  display: none;
}
.toggle-buttons label {
  background-color: transparent;
  padding: var(--padding-xs) var(--padding-s);
  border: var(--line);
  border-radius: 2em;
  cursor: pointer;
}
.toggle-buttons input[type="radio"]:checked + label {
  background-color: var(--colour-white);
}

a {
  appearance: none;
  color: var(--colour-text);
  text-decoration: unset;
}

/* ________________LAYOUT TOOLS__________________ */

.item-row {
  display: flex;
  flex-direction: row;
  gap: var(--gap-r);
}
.item-row.center-vertical {
  align-items: center;
}
.item-row.center-horiztonal {
  justify-content: center;
}
.item-row.no-gap {
  gap: 0;
}
.item-row.small-gap {
  gap: var(--gap-s);
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-r);
}
.item-list.center-vertical {
  justify-content: center;
}
.item-list.center-horiztonal {
  align-items: center;
}
.item-list.no-gap {
  gap: 0;
}
.item-list.small-gap {
  gap: var(--gap-s);
}

.two-pane {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  border-bottom: var(--line);
}

.padding {
  padding: var(--padding-r);
}

/* ________________SECTION HEADER__________________ */

.dark-bg {
  background-color: var(--colour-dark-yellow);
}

.logo {
  display: grid;
  justify-items: center;
  background-color: var(--colour-yellow);
  border: var(--line);
  position: relative;
  padding: 2.2em 1.2em;
  padding-bottom: 0.8em;
  border-radius: 100%;
}
.logo img:not(.logo-text) {
  width: 3.2em;
  position: absolute;
  top: -1.3em;
}
.logo img.logo-text {
  width: 4.5em;
}

.dark-radial-grad {
  background: radial-gradient(ellipse at top, rgba(0,0,0,0.5), 40%, transparent, transparent);
  width: 100%;
  height: 10em;
  border-radius: inherit;
}

.landing-hero {
  display: grid;
  width: 100%;
  height: clamp(45vh, 50vw, 30em);
  padding: var(--padding-xxs);
  padding-bottom: 0;
  border-bottom: var(--line);
  border-bottom-width: 2px;
}
.landing-hero .landing-hero-inner {
  background-color: var(--colour-white);
  padding: var(--padding-s);
  padding-bottom: 0;
  border: var(--line);
  border-bottom: unset;
  border-radius: 2.5em 2.5em 0 0;
  position: relative;
  overflow: hidden;
}
.landing-hero .landing-hero-inner::before {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  background: transparent;
  box-shadow: inset 0 0 4px 8px var(--colour-white);
  z-index: 2;
  border-radius: 4.1em 4.1em 0 0;
}
.landing-hero .landing-hero-inner .hero-img-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  height: 100%;
  border: var(--line);
  padding: var(--padding-xxs);
  padding-bottom: 0;
  border-radius: 1.7em 1.7em 0 0;
  border-bottom: unset;
}
.landing-hero .landing-hero-inner .hero-img-wrapper > div {
  position: absolute;
  border-radius: inherit;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: var(--padding-xxs);
}
.landing-hero .landing-hero-inner .hero-img-wrapper .dark-radial-grad {
  max-width: 40em;
  margin: 0 auto;
}
.landing-hero .landing-hero-inner .hero-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: var(--line);
  border-width: 2px;
  border-radius: 1.5em 1.5em 0 0;
  border-bottom: unset;
}

.landing-hero .divider-banner {
  border: unset;
  position: absolute;
  left: 0;
  top: 0;
}
.landing-hero .divider-banner .divider-inner {
  border: unset;
  background-color: transparent;
  padding: var(--padding-xxs) var(--padding-m);
}
.landing-hero .divider-banner.vert-banner.right {
  left: unset;
  right: 0;
}
.landing-hero .divider-banner.vert-banner {
  height: 100%;
  width: auto;
  padding: 0 1px;
}
.landing-hero .divider-banner.vert-banner .divider-inner {
  flex-direction: column;
  min-height: 100%;
  padding: var(--padding-s) var(--padding-xxs);
  margin-top: 0.3em;
}
.landing-hero .divider-banner.vert-banner .banner-group {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: clamp(var(--gap-s), 2vh, 2rem);
}

.landing-hero .divider-banner.vert-banner .divider-inner .banner-group:first-of-type img:first-of-type {
  transform: translateX(0.3em) rotateZ(90deg);
}
.landing-hero .divider-banner.vert-banner.right .divider-inner .banner-group:first-of-type img:first-of-type {
  transform: translateX(-0.3em) rotateZ(90deg) scaleY(-1);
}

.landing-hero .divider-banner.vert-banner [data-icon="heart-vert"] {
  width: 0.6em;
}
.landing-hero .divider-banner.vert-banner [data-icon="logo-vert"] {
  width: 0.4em;
}
.landing-hero .divider-banner.vert-banner [data-icon="fork-vert"] {
  width: 0.4em;
}

.landing-hero .divider-banner.vert-banner.right img {
  transform: rotateZ(180deg);
}

.divider-banner {
  border-top: var(--line);
  border-bottom: var(--line);
  padding: 1px 0;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
  width: 100%;
}
.divider-banner.top-banner {
  border-top: 0;
}
.divider-banner .divider-inner {
  background-color: var(--colour-white);
  border-top: var(--line);
  border-bottom: var(--line);
  padding: var(--padding-xxs) var(--padding-s);
  border-width: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-s);
  min-width: 100%;
  flex-shrink: 0;
}
.divider-banner .banner-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: clamp(var(--gap-s), 2vw, 2rem);
}
.divider-banner [data-icon="heart"] {
  height: 0.6em;
}
.divider-banner [data-icon="logo"] {
  height: 0.4em;
}
.divider-banner [data-icon="fork"] {
  height: 0.4em;
}

.hero-image {
  display: grid;
  min-height: 0;
  background-image: url('img/hero.jpg');
  background-position: left;
  background-size: cover;
  border-left: var(--line);
}

.nav-icon {
  width: 2.1em;
}

.menu-images {
  margin: 0 calc(var(--padding-s) * -1);
  min-height: 100vh;
}
.menu-images canvas {
  max-width: 46rem;
  width: 100%;
}

canvas {
  border-radius: 1em;
}

/* ________________SECTION HEADER__________________ */

@media screen and (min-width: 34em) {
  nav[aria-label="primary"] {
    font-size: 1em;
  }
}
@media screen and (min-width: 54em) {
  html {
    font-size: 1.2em;
  }
  
}

