@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

:root {
  --colour-black: black;
  --colour-white: white;
  --colour-yellow: #FFE30E;
  --colour-dark-yellow: #FACF22;
  --colour-purple: #D7A29B;
  --colour-blue: rgb(70, 113, 166);
  
  /* dynamic colours */
  --colour-body: var(--colour-yellow);
  --colour-text: black;
  
  --heading: 'Yusei Magic', sans-serif;
  --subheading: "inter", sans-serif;
  --content: sans-serif;
  
  --bold: 800;
  --semi-bold: 500;
  --regular: 400;

  --linespace: 1;
  --padding-xl: 3em;
  --padding-l: 2.5em;
  --padding-r: 2em;
  --padding-m: 1.5em;
  --padding-s: 1em;
  --padding-xs: 0.6em;
  --padding-xxs: 0.2em;
  
  --gap-r: 1em;
  --gap-m: 0.75em;
  --gap-s: 0.5em;
  --gap-xs: 0.2em;
  
  --shadow: 0 0 10px 1px rgba(0,0,0,0.3);
  --line: solid 1px var(--colour-text);
  
  --round: 100%;
  
  /* z-index */
  --z-cursor: 1000;
  --z-topbar: 100;
  --z-sidebar: 101;
  --z-propop: 102;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  
  scrollbar-color: rgba(0,0,0,0.5) var(--colour-dark-yellow);
}

* > * {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.5) transparent;
}

html, pre {
  font: var(--regular) 1em/var(--linespace) var(--content);
  color: var(--colour-text);
}

pre {
  line-height: 1.2;
}

.body {
  font: var(--regular) 1em/var(--linespace) var(--content);
  color: var(--colour-text);
}

.body span {
  font: var(--bold) 1em/var(--linespace) var(--content);
  color: var(--colour-text);
}

.heading-large {
  font: var(--regular) 2em/var(--linespace) var(--heading);
  color: var(--colour-text);
}

.heading-medium {
  font: var(--regular) 1.625em/var(--linespace) var(--heading);
  color: var(--colour-text);
}
.heading-small {
  font: var(--regular) 1.125em/var(--linespace) var(--heading);
  color: var(--colour-text);
}
.subheading-large {
  font: var(--regular) 1em/var(--linespace) var(--subheading);
  color: var(--colour-text);
}
.subheading-large span {
  font: var(--regular) 0.9em/var(--linespace) var(--subheading);
  color: var(--colour-text);
}

.subheading-medium {
  font: 700 0.8em/var(--linespace) var(--subheading);
  color: var(--colour-text);
}

.spaced {
  --linespace: 1.2;
}
.center {
  text-align: center;
}
.text-secondary {
  opacity: 0.6;
}
.weight-light {
  font-weight: var(--regular);
}
.max-small {
  max-width: 20em;
}

body {
  background-color: var(--colour-body);
  /* background-image: url('img/logo.png');
  background-repeat: repeat;
  background-size: 17em 17em;
  background-blend-mode: soft-light; */
}

main {
  max-width: 76rem;
  margin: 0 auto;
}
main.full-width {
  max-width: unset;
}

.page-max-width {
  max-width: 76rem;
  margin: 0 auto;
}

nav[aria-label="primary"] {
  padding: var(--padding-m);
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
}

nav[aria-label="primary"] a {
  justify-self: flex-start;
}

nav[aria-label="secondary"] a {
  padding: 0.2em 0.5em;
  padding-right: 1em;
  margin-left: -0.5em;
  border-radius: 4em;
  transition: 0.15s ease;
}

/* ________________BUTTONS__________________ */

button {
  appearance: none;
  border: unset;
  cursor: pointer;
  color: var(--colour-text);
  transition: transform 0.15s ease;
}
button p {
  display: inline-block;
}

button.primary {
  background-color: var(--colour-white);
  padding: var(--padding-xs) var(--padding-s);
  border: var(--line);
  border-radius: 2em;
}
button.secondary {
  background-color: hsla(0,0%,0%,0.2);
  --colour-text: var(--colour-white);
  padding: var(--padding-xs) var(--padding-s);
  border-radius: 2em;
}

button.hero {
  font-size: 1.1em;
}

.toggle-buttons input[type="radio"] {
  display: none;
}
.toggle-buttons label {
  background-color: transparent;
  padding: var(--padding-xs) var(--padding-s);
  border: var(--line);
  border-radius: 2em;
  cursor: pointer;
}
.toggle-buttons input[type="radio"]:checked + label {
  background-color: var(--colour-white);
}

.toggle-buttons.center {
  overflow-x: auto;
  max-width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

a {
  appearance: none;
  color: var(--colour-text);
  text-decoration: unset;
}
a.text {
  text-decoration: underline;
}

/* ________________LAYOUT TOOLS__________________ */

.item-row {
  display: flex;
  flex-direction: row;
  gap: var(--gap-r);
}
.item-row.center-vertical {
  align-items: center;
}
.item-row.center-horizontal {
  justify-content: center;
}
.item-row.no-gap {
  gap: 0;
}
.item-row.small-gap {
  gap: var(--gap-s);
}
.item-row.xs-gap {
  gap: var(--gap-xs);
}
.item-row.wrap {
  flex-wrap: wrap;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-r);
}
.item-list.center-vertical {
  justify-content: center;
}
.item-list.center-horizontal {
  align-items: center;
}
.item-list.no-gap {
  gap: 0;
}
.item-list.small-gap {
  gap: var(--gap-s);
}
.item-list.xs-gap {
  gap: var(--gap-xs);
}

.align-items-start {
  align-items: flex-start;
}

.two-pane {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  border-bottom: var(--line);
}
.three-pane {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
  /* background-color: var(--colour-purple); */
}
.three-pane > :last-child {
  grid-column: span 2;
}

.padding {
  padding: var(--padding-r);
}
.padding-right {
  padding-right: var(--padding-s);
}
.escape-padding {
  margin: 0 calc(var(--padding-r) * -1);
  display: grid;
}
.escape-padding.center {
  justify-content: center;
}

/* ________________SECTION HEADER__________________ */

.dark-bg {
  background-color: var(--colour-dark-yellow);
}

.logo img {
  width: 3.4em;
}
.logo img.logo-text {
  width: 7em;
}

.divider-banner {
  border-bottom: var(--line);
  padding-bottom: 1px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

header .divider-banner {
  border-bottom: unset;
  padding: unset;
}

.divider-banner .divider-inner {
  background-color: var(--colour-white);
  border-top: var(--line);
  border-bottom: var(--line);
  padding: var(--padding-xxs) var(--padding-s);
  border-width: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-s);
  min-width: 100%;
  flex-shrink: 0;
}
.divider-banner .banner-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: clamp(var(--gap-s), 2vw, 2rem);
}
.divider-banner [data-icon="heart"] {
  height: 0.6em;
}
.divider-banner [data-icon="logo"] {
  height: 0.4em;
}
.divider-banner [data-icon="fork"] {
  height: 0.4em;
}

.hero-image {
  display: grid;
  min-height: 0;
  background-image: url('img/hero.jpg');
  background-position: left;
  background-size: cover;
  border-left: var(--line);
}

.nav-icon {
  width: 2.1em;
}

.menu-images {
  min-height: 100vh;
}
.menu-images canvas {
  max-width: 46rem;
  width: 100%;
}

canvas {
  border-radius: 1em;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-s);
}
.gallery img {
  border-radius: 1em;
  width: 100%;
}

.pano-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-s);
}
.pano-gallery iframe {
  border: unset;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 1em;
}

.alert-banner {
  --colour-text: var(--colour-white);
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  border-bottom: var(--line);
  padding: var(--padding-xs) var(--padding-s);
  background-color: var(--colour-blue);
  gap: var(--gap-r);
  justify-content: center;
}
.alert-banner a {
  margin: calc(var(--padding-xxs) * -1.3);
}

.post-outer {
  display: grid;
  padding: 2px;
  border: var(--line);
  border-radius: 1.05em;
}
.post {
  display: grid;
  grid-template-rows: 14rem auto;
  --line: 2px solid var(--colour-black);
  border: var(--line);
  align-items: center;
  border-radius: 1em;
  overflow: hidden;
  min-height: 17rem;
}
.post .post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-bottom: var(--line);
}
.post a {
  align-self: flex-start;
}

.icon-bg {
  width: 4em;
  background: rgba(255,255, 255, 0.3);
  border-radius: 3em;
  padding: 1em;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  position: relative;
}
.icon-bg img {
  width: 100%;
}
.icon-bg p {
  position: absolute;
  bottom: -0.4em;
  font-size: 0.9em;
  z-index: 1;
}

/* ________________HOVERS__________________ */


button:hover {
  transform: scale(1.03);
}
a.text:hover .text-secondary {
  opacity: 1;
}
nav[aria-label="secondary"] a:hover {
  background: rgba(255,255,255,0.4);
}

/* ________________RESPONSIVE__________________ */
@media screen and (max-width: 38rem) {
  .padding {
    padding: var(--padding-s);
  }
  .escape-padding {
    margin: 0 calc(var(--padding-s) * -1);
  }
}

@media screen and (min-width: 44rem) {
  
  .three-pane {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: unset;
  }
  .three-pane > :last-child {
    grid-column: unset;
  }
  
  .post {
    grid-template-columns: minmax(20%, 22em) auto;
    grid-template-rows: minmax(17rem, min-content);
  }
  .post .post-image {
    border-right: var(--line);
    border-bottom: unset;
  }
}

@media screen and (min-width: 54rem) {
  html {
    font-size: 1.2em;
  }
  .gallery, .pano-gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 76rem) {
  main {
    /* border-left: var(--line);
    border-right: var(--line); */
  }
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}